Repository TEAM-FLASH/Toucheese-FE, pull requests merged in 2024-11, with the labels that each got.

#2 Conf: tsconfig 파일 수정
  tsconfig.app.json
Labels: Chore

#8 기본 스타일을 설정
  package.json
  pnpm-lock.yaml
  public/img/icon-select-arrow.svg
  src/App.tsx
  src/assets/fonts/PretendardVariable.woff2
  src/styles/Common.tsx
  src/styles/GlobalStyles.tsx
  src/styles/Variables.tsx
Labels: UI, Chore

#13 Version 0.0 : 4차 배포 테스트
  .github/workflows/deploy.yml
  deploy.sh
Labels: Deploy

#14 Version 0.0 : 5차 배포 테스트
  .github/workflows/deploy.yml
Labels: Deploy

#15 Version 0.0 : 6차 배포 테스트
  .github/workflows/deploy.yml
Labels: Deploy
